*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background: none;
    width: 1000 px
}

header{
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://images.pexels.com/photos/3482443/pexels-photo-3482443.jpeg');
    background-repeat:   no-repeat;
    background-position: left center;   
    background-size: conver;
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

.menu-item{
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: gray;
}

.menu-item:hover{
    color: black;
}

#forms{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px 20px;
    width: 1000px;
    align-items: center;
    gap: 50px;
}

.form-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.forms-item{
    display: flex;
    gap: 50px;
    scroll-margin-bottom: 20px;

    height: 200px;
}

.existentes{
    width: 300px;
    overflow-y: scroll;
}

#marcas_existentes{
    height: 300px;
    list-style: none;
}

#piezas_existentes{
    list-style: none;
}

.form_label{
    margin-bottom: 0.25rem;
}

.text_input{
    margin-bottom: 1rem;
}

.form_select{
    margin-bottom: 1rem;
}

.fieldsets{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#main-title{
    margin: 2rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.column-form{
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-group{
    display: flex;
    justify-content: space-between;
    width: 320px;
}


#form-button{
    font-size: 0.75rem;
    padding: 5px 20px;
}

.text-input{
    padding: 1px 2px;
    width: 200px;
}

.puzzle{
    display: flex;
    justify-content: flex-start;
    border: 1px solid gray;
    padding: 10px;
    gap: 30px;
    width: 500px;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.puzzle-thumbnail{
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
}

#weather-message{
    font-weight: 600;
    font-style: italic;
    margin: 2rem;
}

.puzzle-details{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    margin-right: 50px;
    gap: 5px;
}

.puzzle-title{
    font-weight: 600;
    font-size: 2rem;
}