*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}

#forms{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 20px 20px;
}

.form_label{
    margin-bottom: 0.25rem;
}

.text_input{
    margin-bottom: 1rem;
}

.form_select{
    margin-bottom: 1rem;
}

.fieldsets{
    display: flex;
    flex-direction: column;
}

#main-title{
    margin: 2rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.column-form{
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-group{
    display: flex;
    justify-content: space-between;
    width: 320px;
}

#form-button{
    font-size: 0.75rem;
    padding: 5px 20px;
}

.text-input{
    padding: 1px 2px;
    width: 200px;
}